*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(0, 5, 20);
}

header{
    margin-top: 100px;
    text-align: center;
    height: 100px;
    color: white;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

#fCont1{
    display: flex;
}


#tImg{
    background-size: cover;
    width: 15vw;
    border-radius: 50vw;
}

#txtUser{
    margin-top: 15px;
    font-family: 'Courier New', Courier, monospace;
}

#txtBio{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
}
p{
    font-family: 'Courier New', Courier, monospace;
}

input{
    margin-top: 10px;
    border: none;
    border-right: solid 1px #3612ff;
    border-left: solid 1px #3612ff;
    padding-left: 3px;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
}



@media (max-width: 320px) {
    #tImg{
        width: 50vw;
    }
    input{
        padding: 7px;
    }
}

@media (max-width: 375px) {
    #tImg{
        width: 50vw;
    }
    input{
        padding: 7px;
    }
}

@media (max-width: 425px) {
    #tImg{
        width: 50vw;
    }
    input{
        padding: 7px;
    }
}

@media (max-width: 768px) {
    #tImg{
        width: 25vw;
    }
    input{
        padding: 7px;
    }
}
